#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PLUGIN_VERSION_MAJOR,PLUGIN_VERSION_MINOR,PLUGIN_VERSION_REVISION,0
 PRODUCTVERSION PLUGIN_VERSION_MAJOR,PLUGIN_VERSION_MINOR,PLUGIN_VERSION_REVISION,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004e4"
        BEGIN
            VALUE "CompanyName", PLUGIN_AUTHOR
            VALUE "FileDescription", PLUGIN_DESCRIPTION
            VALUE "FileVersion", PLUGIN_VERSION_STRING
            VALUE "InternalName", PLUGIN_NAME
            VALUE "LegalCopyright", "Copyright © Pavel Kostromitinov, 2024"
            VALUE "OriginalFilename", "StructuredFile.dll"
            VALUE "ProductName", PLUGIN_DESCRIPTION
            VALUE "ProductVersion", PLUGIN_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END
